/* this is a CSS comment - This is the only comment style
Css System

selector(
   Property::  value
   Property:   Value
)

Selector: 3 options: HTML tag/element, ID of an element (#id), custom class - Starts . (.classroom)

Just use external CSS files in this class
*/

body{
    background-color: rgb(189, 23, 211);
    color: white;
}

header{
    text-align: center;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}



#memeImage{
    position: absolute;
}


Table{
    border: 2px solid rgb(0, 0, 255);
    /* this will cause multiple overlapping borders to collapse into a single border */
    border-collapse: collapse;
}

tr{
    border: 2px solid rgb(245, 21, 5);
    
}
td{
    padding: 5px;
}

tr:nth-child(even){
    background-color: green;
    color: aqua;
}
tr:hover{
    color: rgb(0, 255, 234);
    background-color: rgb(255, 0, 0);
}

button{
    background-color: white;
    color: navy;
    padding: 8px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    background-color: cyan;
}